

<h3 class="heading_b sepH_a">Login</h3>

        <input type="hidden" name="__RequestVerificationToken" value="2-T6Z5A_c0ulzaD1bFEbYI8LYxPEMuobLa9w6I2xiTDA5WcAuTTjqppikRCpFmpXOnUVSdEAg-qtQMJpqo_85EOj7KzV501jyw7G1rgFdRU1" />

        <!-- Username -->
        <div class="row sepH_a">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-person fs-3"></i></span>
                    <input type="text" class="form-control input-match" id="Login_UserName" name="Login.UserName" placeholder="Username" data-val="true" data-val-required="The User name field is required." />
                </div>
            </div>
        </div>



        <div class="row sepH_a">
            <div class="col-md-12">
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock fs-3"></i></span>
                    <input type="text" class="form-control input-match" id="Login_password" name="Login.UserName" placeholder="password" data-val="true" data-val-required="The password field is required." />
                </div>
            </div>
        </div>

    

        <!-- Buttons -->
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button class="submit btn btn-cesp-navigate btn-block" data-loading-text="Loading <i class='el el-repeat el-spin'></i>">Log in</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <a href="/Account/Register" class="btn btn-cesp-create btn-block">Register</a>
                </div>
            </div>
        </div>

       